*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rprofile
.DS_Store
data/cellranger/*
data/scafe/count
*bpcells*
output/*/*/*.rds
*.rds
*.h5ad
.snakemake
logs/*
!logs/*.svg
screenlog*
analysis/*/figures/*/*.pdf
analysis/*.pdf
*model.pt
__pycache__
*.pkl
idx.annoy
ref.Rds
model.pt
*subset_[0-9]*/
